* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
}
*::-webkit-input-placeholder       {color: #919191; opacity: 1; transition: opacity 0.3s;}
*::-moz-placeholder                {color: #919191; opacity: 1; transition: opacity 0.3s;}
*:-moz-placeholder                 {color: #919191; opacity: 1; transition: opacity 0.3s;}
*:-ms-input-placeholder            {color: #919191; opacity: 1; transition: opacity 0.3s;}
*:focus::-webkit-input-placeholder {color: #919191; opacity: 0; transition: opacity 0.3s;}
*:focus::-moz-placeholder          {color: #919191; opacity: 0; transition: opacity 0.3s;}
*:focus:-moz-placeholder           {color: #919191; opacity: 0; transition: opacity 0.3s;}
*:focus:-ms-input-placeholder      {color: #919191; opacity: 0; transition: opacity 0.3s;}
input, a, textarea, select, button, textarea {
  outline: none!important;
}
button, input, textarea {
  font-size: inherit;
}
a {
  color: #067bbf;
  text-decoration: underline;
}
a:hover,
a:active {
  color: #067bbf;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-size: 22px;
  
  @media screen and (max-width: 1700px) {
    font-size: 20px;
  }

  @media screen and (max-width: 1500px) {
    font-size: 18px;
  }

  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
}
body {
  min-width: 320px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #262626;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
}
