.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 2.7rem;
  
  @media screen and (max-width: 992px) {
    position: fixed;
    background-color: #333333;
    z-index: 10;
  }

  @media screen and (max-width: 560px) {
    padding: 1rem;
  }

  &__logo {
    @media screen and (max-width: 992px) {
      z-index: 2;
    }
  }

  &__mobile-button {
    display: none;
    
    @media screen and (max-width: 992px) {
      display: block;
      z-index: 2;
    }
    
    button {
      border: 0;
      background-color: transparent;

      svg {
        width: 25px;
        height: auto;
      }

      path {
        fill: #fff;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @media screen and (max-width: 992px) {
      position: fixed;
      left: -16rem;
      top: 0;
      display: block;
      width: 16rem;
      height: 100vh;
      padding: 6rem 1rem;
      background-color: #333333;
      transition: left .5s;
    }

    &_opened {
      @media screen and (max-width: 992px) {
        left: 0;
      }
    }
  }

  &__app-callback {
    @media screen and (max-width: 992px) {
      padding-bottom: 1rem;
    }
  }

  &__language {
    margin-left: 1.6rem;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
}

