.first-screen {
  background-image: url("/assets/images/first-screen__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6.2rem;
  padding-bottom: 11rem;

  @media screen and (max-width: 560px) {
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 0;
    background: linear-gradient(-45deg, #feee67 0%, #feee67 45%, #dfb2f3 45%, #dfb2f3 55%, #45c0a4 55%, #45c0a4 100%);
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: #333333;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 1.21;

    @media screen and (max-width: 560px) {
      font-size: 2.7rem;
    }
  }

  &__sub-title-callback {
    width: 50%;
    margin-left: 50%;
    padding-left: 2.3rem;

    @media screen and (max-width: 560px) {
      width: 100%;
      margin-left: auto;
    }
  }

  &__sub-title {
    padding-top: 2.6rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3rem;

    color: #262626;
  }

  &__callback {
    margin-top: 1.3rem;
  }
}



.owner-screen {
  padding-bottom: 3.36rem;
  background: #262626;

  @media screen and (max-width: 768px) {
    padding-bottom: 2.5rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 3.64rem 13.2rem 2.7rem 7.27rem;

    @media screen and (max-width: 1200px) {
      padding: 3.64rem 3rem 2.7rem 3rem;
    }

    @media screen and (max-width: 768px) {
      display: block;
      padding: 2.5rem 1rem 1.5rem 1rem;
    }
  }

  &__title-group {
    padding-right: 1rem;
  }

  &__title {
    font-family: Russo One;
    font-size: 2.9rem;
    color: #FEEE67;

    @media screen and (max-width: 560px) {
      font-size: 2rem;
    }
  }

  &__name {
    padding-top: 3.64rem;
    font-family: Russo One;
    font-size: 2.2rem;
    color: #FFFFFF;
    text-align: center;

    @media screen and (max-width: 768px) {
      padding-top: 1.5rem;
      text-align: left;
    }
  }

  &__projects {
    margin-top: 3.2rem;
    font-size: 1.8rem;
    color: #F9FDFE;

    @media screen and (max-width: 992px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      margin-top: 1.5rem;
    }

    &-item {
    }
  }

  &__photo {
    flex: 0 0 20.3rem;
    width: 20.3rem;
    max-width: 100%;
    padding-top: 2.3rem;

    img {
      max-width: 100%;
    }
  }

  &__experience {
    display: flex;
    justify-content: space-between;
    padding: 1.35rem 10rem 2.7rem;

    @media screen and (max-width: 992px) {
      padding: 1rem 2rem 2rem;
    }

    @media screen and (max-width: 768px) {
      display: block;
      padding: 0 0 1rem;
    }

    &-item {
      padding: 0 .9rem;
      font-family: Russo One;
      color: #F9FDFE;

      @media screen and (max-width: 768px) {
        padding: 1rem 1rem;
      }

      &-years {
        margin-right: .23rem;
        font-size: 2.9rem;
        line-height: 1.18rem;

        .owner-screen__experience-item:nth-child(1) & {
          color: #DFB2F4;
        }
        .owner-screen__experience-item:nth-child(2) & {
          color: #FEEE67;
        }
        .owner-screen__experience-item:nth-child(3) & {
          color: #45C0A4;
        }
      }

      &-actions {
        font-family: Roboto;
        font-size: 1rem;
        line-height: 1.18rem;
      }
    }
  }

  &__technologies {
    padding: .68rem 0;
    border-top: 2px solid #F9FDFE;
    border-bottom: 2px solid #F9FDFE;
    font-family: Manrope;
    font-size: 1.1rem;
    letter-spacing: 0.12rem;
    color: #F9FDFE;
  }

}



.faq-screen {
  display: flex;
  padding: 4.1rem 0;

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    padding: 2.5rem 0;
  }

  &__title {
    padding-left: 7.14rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    flex: 1 1 auto;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 2.9rem;
    line-height: 1.2;
    color: #DFB2F4;

    @media screen and (max-width: 992px) {
      padding-left: 3rem;
    }

    @media screen and (max-width: 992px) {
      padding-left: 1rem;
    }

    @media screen and (max-width: 560px) {
      font-size: 2rem;
    }
  }

  &__questions {
    flex: 0 0 47.3rem;
    max-width: 47.3rem;

    @media screen and (max-width: 1200px) {
      flex: 1 1 auto;
      margin-left: auto;
    }

    @media screen and (max-width: 660px) {
      flex: 0 0 100%;
    }

    &-item {
      border-top: 3px solid #262626;

      &:last-child {
        border-bottom: 3px solid #262626;
      }

      &_open {
        background-color: #262626;
      }

      &-title {
        position: relative;
        padding: 1.6rem 6.8rem 1.6rem 3.65rem;
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 1.45rem;
        line-height: 1.77rem;
        color: #262626;
        cursor: pointer;

        @media screen and (max-width: 660px) {
          padding: 1rem 3rem 1rem 1rem;
        }

        .faq-screen__questions-item_open & {
          color: #DFB2F4;
        }

        button {
          position: absolute;
          display: block;
          right: 4.55rem;
          top: 50%;
          margin-top: -.68rem;
          width: 1.41rem;
          height: 1.41rem;
          border: 0;
          background-color: transparent;
          font-size: 0;
          color: transparent;
          cursor: pointer;

          @media screen and (max-width: 660px) {
            right: 1rem;
          }

          &::before,
          &::after {
            position: absolute;
            content: '';
            display: block;
            background-color: #262626;
            transition: transform .3s;

            .faq-screen__questions-item_open & {
              background-color: #fff;
            }
          }
          &::before {
            top: .64rem;
            left: 0;
            width: 100%;
            height: .14rem;

            .faq-screen__questions-item_open & {
              transform: rotate(45deg);
            }
          }
          &::after {
            top: 0;
            left: .64rem;
            width: .14rem;
            height: 100%;

            .faq-screen__questions-item_open & {
              transform: rotate(45deg);
            }
          }
        }
      }

      &-text {
        display: none;
        width: 100%;
        max-width: 33.2rem;
        color: #fff;
        padding: .45rem 3.65rem 2.95rem;
        font-size: 1rem;
        line-height: 1.5;

        @media screen and (max-width: 560px) {
          padding: .45rem 1rem 1.5rem;
        }

        p {
          margin-bottom: 1.36rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .faq-screen__questions-item_open & {
          display: block;
        }
      }
    }
  }
}



.reviews {
  padding: 4.32rem 0 3.86rem;
  background-color: #FEEE67;

  @media screen and (max-width: 768px) {
    padding: 2.5rem 0;
  }

  &__title {
    padding-left: 7.3rem;
    padding-right: 1.36rem;
    font-family: Russo One;
    font-size: 2.9rem;
    color: #262626;

    @media screen and (max-width: 992px) {
      padding-left: 3rem;
    }

    @media screen and (max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media screen and (max-width: 560px) {
      font-size: 2rem;
    }
  }

  &__slider {
    position: relative;
    margin: 3.8rem 7.3rem 0;
    padding: 6.2rem;
    background-color: rgba(0, 0, 0, .15);
    //border: 3px solid #262626;

    @media screen and (max-width: 1200px) {
      padding: 3rem;
    }

    @media screen and (max-width: 992px) {
      margin: 1.5rem 3rem 0;
    }

    @media screen and (max-width: 768px) {
      margin: 1.5rem 1rem 0;
      padding: 1rem 1rem 3rem;
    }

    &-item {
      display: flex;
      align-items: flex-start;

      @media screen and (max-width: 560px) {
        display: block;
      }

      &-photo {
        flex: 0 0 22.7rem;
        width: 22.7rem;
        padding-right: 4rem;

        @media screen and (max-width: 992px) {
          flex: 0 0 18rem;
          width: 18rem;
          padding-right: 1rem;
        }

        @media screen and (max-width: 640px) {
          flex: 0 0 13rem;
          width: 13rem;
        }

        @media screen and (max-width: 560px) {
          flex: 0 0 auto;
          width: auto;
          padding-right: 0;
          padding-bottom: 1rem;
        }

        img {
          display: block;
          max-width: 100%;
        }
      }

      &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 1 auto;
        color: #fff;

        @media screen and (max-width: 560px) {
          display: block;
        }
      }

      &-name {
        margin-bottom: 2rem;
        padding-right: 1rem;
        font-size: 1.45rem;

        @media screen and (max-width: 768px) {
          margin-bottom: 1rem;
        }

        @media screen and (max-width: 560px) {
          padding-right: 0;
          font-size: 1.2rem;
        }
      }

      &-specialization {
        margin-bottom: 2rem;
        font-size: 1.45rem;

        @media screen and (max-width: 768px) {
          margin-bottom: 1rem;
          font-size: 1.2rem;
        }
      }

      &-text {
        flex: 0 0 100%;
      }
    }

    &-controls {
    }

    &-control {
      &_next {
        position: absolute;
        right: 3rem;
        bottom: 3rem;
        cursor: pointer;
        width: 2.2rem;
        overflow: hidden;
        transition: width .3s;

        @media screen and (max-width: 1200px) {
          right: 1rem;
          bottom: 1rem;
        }

        svg {
          display: block;
          width: 5.8rem;
          height: auto;
          margin-left: -3.6rem;
          transition: margin .3s;
        }

        &:hover {
          width: 5.8rem;

          svg {
            margin-left: 0;
          }
        }
      }
    }
  }
}



.payment {
  padding: 4.09rem 0 5rem;

  @media screen and (max-width: 768px) {
    padding: 2.5rem 0;
  }

  &__title {
    padding-left: 7.27rem;
    padding-right: 1.36rem;
    font-family: Russo One;
    font-size: 2.9rem;
    color: #45C0A4;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      padding-left: 3rem;
    }

    @media screen and (max-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media screen and (max-width: 560px) {
      font-size: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 45.5rem;
    max-width: 100%;
    margin-left: auto;
    padding-right: 9.1rem;
    padding-top: 3.86rem;

    @media screen and (max-width: 992px) {
      width: 42.5rem;
      padding-right: 3rem;
      padding-left: 3rem;
    }

    @media screen and (max-width: 768px) {
      padding: 1rem 0 0;
    }

    &-item {
      padding: .45rem .9rem;

      @media screen and (max-width: 768px) {
        padding: 0.5rem 1rem;
      }

      &-title {
        font-family: Russo One;
        font-size: 1.45rem;
        color: #262626;

        &::ng-deep {
          span {
            color: #45C0A4;
          }
        }
      }

      &-text {
        padding-top: .68rem;
        font-family: Roboto;

        &-inner {
          flex: 0 0 50%;
        }

        &-button {
          flex: 0 0 50%;
          text-align: right;
        }

        &_with-button {
          display: flex;
          align-items: center;
        }
      }

      &_materials {
        flex: 0 0 15.9rem;

        @media screen and (max-width: 768px) {
          flex: 0 0 100%;
        }
      }

      &_employment {
        flex: 0 0 20.45rem;

        @media screen and (max-width: 768px) {
          flex: 0 0 100%;
        }
      }
    }
  }
}



.consultation {
  padding: 4.1rem 14.55rem 3.64rem 7.27rem;
  background-color: #DFB2F4;

  @media screen and (max-width: 992px) {
    padding: 4rem 3rem 3rem 3rem;
  }

  @media screen and (max-width: 768px) {
    padding: 2.5rem 1rem 2.5rem 1rem;
  }

  &__title {
    padding-right: 1.36rem;
    font-family: Russo One;
    font-size: 2.9rem;
    color: #262626;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      padding-right: 0;
    }

    @media screen and (max-width: 560px) {
      font-size: 2rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 2.73rem;

    @media screen and (max-width: 768px) {
      display: block;
      padding-top: 1.5rem;
    }
  }

  &__text {
    font-size: 1.18rem;
    padding-right: 1.36rem;

    @media screen and (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 1.5rem;
    }
  }

  &__form {
    flex: 0 0 21.82rem;
    width: 21.82rem;
    max-width: 100%;

    &-input {
      padding-bottom: .9rem;

      label {
        display: block;
        padding-bottom: .45rem;
      }
    }

    &-button {
      padding-top: .45rem;

      .button {
        width: 100%;
      }
    }
  }
}
