.language-switch {
  margin: 0 -10px;

  &__item {
    margin: 0 10px;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #262626;
    cursor: pointer;

    .language-switch_white & {
      color: #fff;
    }

    &_active {
      color: #DFB2F4;

      .language-switch_white & {
        color: #DFB2F4;
      }
    }
  }
}
