@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'assets/scss/normalize';

.button {
  border: 0;
  background: #262626;
  font-family: Russo One;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2;
  color: #FFFFFF;
  padding: .8rem 1.41rem;
  text-align: center;
  cursor: pointer;

  &[disabled] {
    opacity: .9;
    cursor: auto;
  }

  &_white {
    background: #fff;
    color: #262626;
  }
}

.input {
  display: block;
  width: 100%;
  height: 2.41rem;
  padding: 0 .91rem;
  border: 0;
  background-color: #fff;
}

.select.ng-select {
  &.ng-select-single {
    .ng-select-container {
      height: 2.41rem;
      border: 0;
      border-radius: 0;
      box-shadow: none !important;
    }
    .ng-value-container {
      .ng-input {
        top: auto;
      }
    }
  }

  .ng-select-container {
    position: relative;
  }

  .ng-value-container {
    height: 100%;

    .ng-input {
      height: 100%;

      &>input {
        height: 100%;
      }
    }
  }
  .ng-arrow-wrapper {
    display: block;
    width: auto;
    height: auto;
    padding: 0;
    right: .45rem;

    .ng-arrow {
      display: block;
      top: auto;
      width: 1.1rem;
      height: .77rem;
      background-image: url("/assets/images/icons/icon-select.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: 0;
    }
  }

  .ng-clear-wrapper {
    display: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
