<div class="footer">
  <div class="footer__social-network">
    <a href="https://instagram.com/roman_golovakha_?utm_medium=copy_link" target="_blank">
      <img src="assets/images/icons/icon-instagram.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/roman-golovakha" target="_blank">
      <img src="assets/images/icons/icon-linkedin.svg" alt="">
    </a>
    <a href="https://www.facebook.com/roman.golovakha" target="_blank">
      <img src="assets/images/icons/icon-facebook.svg" alt="">
    </a>
  </div>
  <div class="footer__copyright">10k. Academy. 2021</div>
</div>
