.footer {
  padding: 1.82rem;
  background-color: #262626;

  &__social-network {
    font-size: 0;
    text-align: center;

    a {
      display: inline-block;
      vertical-align: middle;
      margin: .36rem;

      img {
        display: block;
      }
    }
  }

  &__copyright {
    padding-top: .23rem;
    font-family: Russo One;
    font-size: 1.1rem;
    text-align: center;
    color: #FFF;
  }
}
